* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
    /* list-style: none; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    /* background-color: rgba(55, 140, 232, 0.345); */
    background-image: url('./img/img9_fon.jpg');
    font-family: 'Montserrat', sans-serif;
}

.container_nav {
    max-width: 1200;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.nav_top {
    position: sticky;
    top: 0px;
}

footer {
    background-color:rgb(239, 239, 239);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.parent1 {
    margin-top: 2%;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.parent2 {
    margin-top: 2%;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.child {
    display: flex;
    font-size: 60px;
    text-align: center;
    align-items: center;
}

.text1 {
    padding: 10px;
    font-size: 6.5rem;
    color: #1a64ed;
    font-weight: 800;
}

.carousel {
    margin: 0 2em;
}

.img_2 {
    width: 25em;
    height: 25em;
    margin: 0 5em;
    padding: 20px;
}

.img_3 {
    width: 25em;
    height: 25em;
    margin: 0 5em;
    padding: 20px;
}

h2 {
    margin: 3%;
    font-size: 2.5rem;
    color: #1a64ed;;
    font-weight: 20;
    /* text-transform: uppercase; */
}

main {
    margin: 3%;
    padding: 0 2%;
}

li {
    /* background-color: tomato; */
    /* color: white; */
    /* border: 2px solid black; */
    margin: 10px;
    text-indent:0%;
    /* padding: 10px; */
}

p {
    margin: 3%;
    padding: 0 2%;
}

span {
    font-size: 2.5rem;
    color: #1a64ed;;
}

.logo {
    width: 40px;
    height: 40xx;
    border-radius: 50%;
}



/* this is a mobile view */

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }

    .site-header {
        justify-content: flex-end;
        flex-direction: column;
    }

    .menu-list {
        display: none;
        justify-content: flex;
        flex-direction: column;
    }

    .parent1 {
        height: auto;
        margin: 20px;
        border: 2px solid black;
        padding: 20px;
        display:flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: flex;
    }


    .parent2 {
        height: auto;
        /* width: auto; */
        left: 0;
        margin: 20px;
        right: auto;
        background-position: center;
        border: 2px solid black;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex;
    }

}